<div class="row">
  <div class="small-5 columns centered">
    <h2><%= @activity.name %></h2>
  </div>
</div>

<div class="row form">
  <div class="small-5 columns centered">
    <p><%= @activity.description %></p>

    <div class="inline"><%= button_to "I'm done!", { controller: :activity_sessions, action: :update }, method: :patch, class: 'radius button' %></div>
    <div class="inline"><%= button_to 'Skip', { controller: :activity_sessions, action: :skip_activity, id: @activity_session.id }, method: :patch, class: 'radius button' %></div>
  </div>
</div>
