<div class="row">
  <div class="small-8 columns centered">
    <h1 class="">Welcome to TimeCatcher!</h1>
  </div>
</div>
<div class="row">
  <div class="small-8 columns centered">
    <p>TimeCatcher helps you to build good habits by putting to use those spare minutes you have here and there throughout your day.</p>
    <p>Want to get more exercise?  TimeCatcher will tell you to go for a walk while you're waiting to meet a friend for coffee.  Want to start journaling?  TimeCatcher can remind you to write while you're waiting for the bus.  Just input a list of activities you want to do on a regular basis, and TimeCatcher will pick one for you to do based on the amount of free time you have.  Plus, it logs your activity so you can track your progress. </p>
    <p>To learn more, click About Us above, or Sign Up and give it a try!</p>
  </div>
</div>

<p><%= link_to 'Sign Up', new_user_registration_path %></p>
<p><%= link_to 'Sign In', new_user_session_path %></p>
