
@import "foundation_and_overrides";

.bg {
  background: image-url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.error{
  .devise {
    background-color: blue;
  }
}

.notice, .alert, .error {
  font-weight: bold;
  margin: 5px;
}

.inline {
  display: inline-block;
}

.about-us-header1 {
  margin-top: 20px;
}

.about-us-header2 {
  margin-bottom: 20px;
}

.profile-pic {
  border: $primary_color 4px solid;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  margin-left: 20px;
  margin-top: -70px;
}

@media (max-width: 850px) {
  .profile-pic {
    display: none;
  }
}
