.bg {
  background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
  color: pink;
}

.error{

  .devise {
    backtround-color: blue;
  }
}
