<div class="row form">
  <div class="small-12 large-5 columns centered">
    <%= simple_form_for @category do |f| %>
      <%= f.input :name, label: false, placeholder: 'Name' %>
      <%= f.button :submit, class: 'radius button' %>
    <% end %>
  </div>
</div>
