<div class="row">
  <div class="small-9 columns centered">
    <h2>My Categories</h2>
  </div>
</div>

<div class="row form">
  <div class="small-9 columns centered">
    <table>
      <tr>
        <th>Name</th>
        <th>Activities</th>
      </tr>

      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.activity_names %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
